@import url(http://db.onlinewebfonts.com/c/c39dc1716db69a2e7a43326eab745330?family=AvenirNextRoundedW01-Demi);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
.container-fluid.page {
  background-color: #a2ca28;
  max-width: 1920px;
  padding-left: 0;
  padding-right: 0;
}
* {
  outline: none!important;
}
.navbar-fixed-top {
  position: absolute;
}
.navbar-default {
  border: 0;
  border-radius: 0;
  margin: 20px 63px 0 55px;
  text-transform: uppercase;
  background-color: transparent;
}
.navbar-default .container-fluid {
  max-width: 1920px;
}
.navbar-default .navbar-brand {
  font-family: 'AvenirNextRoundedW01-Demi', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
  color: white;
}
.navbar-default .navbar-brand span {
  border-bottom: 3px solid #a2ca28;
}
.navbar-default h1 {
  height: 55px;
  float: left;
  margin-top: 9px;
  background: url(../img/Shape9.svg) 0 10px no-repeat;
  background-size: 30px auto;
}
.navbar-default a {
  padding-left: 50px;
}
.navbar-default .navbar-nav {
  margin-top: 20px;
}
.navbar-default .navbar-nav li a {
  font-family: 'AvenirNextRoundedW01-Demi', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li:nth-child(1n+2) {
  margin-left: 34px;
}
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:active {
  color: white;
  text-decoration: underline;
}
header {
  background: url(../img/Header/Layer25.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header section {
  padding-top: calc(41.5%);
  padding-bottom: calc(7.9%);
  color: white;
  text-transform: uppercase;
}
header h1 {
  font-family: 'AvenirNextRoundedW01-Demi', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  margin-left: calc(7%);
  margin-bottom: 4px;
}
header h1 span {
  color: #a2ca28;
}
header p {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: calc(17%);
  font-size: 15px;
}
header p span {
  color: #fd634e;
}
.features {
  padding-top: 96px;
  padding-bottom: 116px;
  color: white;
  background-color: #a2ca28;
}
.features h1 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  height: 90px;
  line-height: 140px;
}
.features article:nth-child(1) h1 {
  background: url(../img/Features/Shape7.png) 0 0 no-repeat;
}
.features article:nth-child(2) h1 {
  background: url(../img/Features/Shape8.png) 0 0 no-repeat;
}
.features article:nth-child(3) h1 {
  background: url(../img/Features/Shape11.png) 0 0 no-repeat;
}
.features article:nth-child(4) h1 {
  background: url(../img/Features/Shape10.png) 0 0 no-repeat;
}
.features p {
  font-size: 14px;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 25px;
  min-height: 98px;
  margin-bottom: 18px;
}
.features a {
  color: white;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.features a:hover,
.features a:visited,
.features a:active {
  color: white;
}
.about .col-md-7 {
  width: 34%;
}
.about .col-md-13 {
  width: 66%;
}
.about-text {
  padding: 13px 40px;
  line-height: 26px;
}
.about-text h1 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about-text h1 span {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.about-text p {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}
.about-text a {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-decoration: underline;
}
.about-text a:hover {
  text-decoration: none;
}
.about-text-dark h1 {
  color: #a2ca28;
}
.about-text-dark h1 span {
  color: #fd634e;
}
.about-text-dark p {
  color: #656e74;
}
.about-text-dark a {
  color: #a2ca28;
}
.about-text-light h1 {
  color: white;
}
.about-text-light h1 span {
  color: white;
}
.about-text-light p {
  color: white;
}
.about-text-light a {
  color: white;
}
.about-1 {
  background-color: #a2ca28;
}
.about-1 .row {
  padding-left: 10px;
  padding-right: 10px;
}
.about-1-1 section:nth-child(1) {
  height: 394px;
  background-color: white;
}
.about-1-1 section:nth-child(1) h1 {
  margin-bottom: 20px;
}
.about-1-1 section:nth-child(1) div {
  margin: 0 auto;
  width: 18px;
  height: 22px;
  background: url(../img/About/Shape9-1.svg) 0px 0px no-repeat;
  background-size: 15px auto;
}
.about-1-1 section:nth-child(1) p {
  margin-top: 20px;
}
.about-1-1 section:nth-child(2) {
  height: 394px;
  background: url(../img/About/Layer26.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.about-1-1 section:nth-child(2) div {
  position: absolute;
  bottom: 32px;
  right: 64px;
}
.about-1-1 section:nth-child(2) p {
  color: #fd634e;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
}
.about-1-1 section:nth-child(2) p:after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 30px;
  background: url(../img/Shape9.svg) 0px 0px no-repeat;
  background-size: 20px auto;
}
.about-1-1 section:nth-child(2) span {
  color: white;
}
.about-1-2 section:nth-child(1) {
  height: 394px;
  background: url(../img/About/Layer28.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.about-1-2 section:nth-child(1) div {
  position: absolute;
  bottom: 32px;
  left: 44px;
}
.about-1-2 section:nth-child(1) p {
  color: white;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
}
.about-1-2 section:nth-child(1) p:after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 30px;
  background: url(../img/Shape9.svg) 0px 0px no-repeat;
  background-size: 20px auto;
}
.about-1-2 section:nth-child(2) {
  height: 394px;
  background-color: white;
}
.about-1-2 section:nth-child(2) h1 {
  margin-bottom: 20px;
}
.about-1-2 section:nth-child(2) div {
  margin: 0 auto;
  width: 18px;
  height: 22px;
  background: url(../img/About/Shape9-1.svg) 0px 0px no-repeat;
  background-size: 15px auto;
}
.about-1-2 section:nth-child(2) p {
  margin-top: 20px;
}
.about-2 {
  background-color: #fd634e;
}
.about-2 .col-md-7 {
  padding-right: 0;
}
.about-2 .col-md-13 {
  padding-left: 0;
}
.about-2-1 section:nth-child(1) {
  height: 332px;
  background: url(../img/About/Layer27.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-2-1 section:nth-child(2) {
  height: 310px;
  background-color: white;
  position: relative;
}
.about-2-1 section:nth-child(2) h1:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  right: 25px;
  top: 55px;
  background: url(../img/About/Shape14.png) 0px 0px no-repeat;
}
.about-2-2 section:nth-child(1) {
  height: 332px;
  background: url(../img/About/Layer29.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 55px 90px 0 60px;
}
.about-2-2 section:nth-child(1) p:nth-child(1) {
  float: left;
}
.about-2-2 section:nth-child(1) p:nth-child(2) {
  text-align: right;
  position: relative;
}
.about-2-2 section:nth-child(1) p:nth-child(2):after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 30px;
  background: url(../img/About/Shape13.svg) 0px 0px no-repeat;
}
.about-2-2 section:nth-child(2) {
  height: 310px;
  background-color: #a2ca28;
  padding: 30px 60px 30px 60px;
}
.about-2-2 section:nth-child(2) h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.about-2-2 section:nth-child(2) p {
  font-size: 13px;
  line-height: 23px;
}
.about-3 {
  background-color: #fd634e;
}
.about-3 .col-md-13 {
  padding-right: 0;
}
.about-3 .col-md-7 {
  padding-left: 0;
}
.about-3-1 section:nth-child(1) {
  height: 330px;
  background: url(../img/About/Layer31.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-3-1 section:nth-child(2) {
  height: 310px;
  background-color: white;
  position: relative;
}
.about-3-1 section:nth-child(2) h1:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 40px;
  right: 45px;
  top: 55px;
  background: url(../img/About/Shape8.png) 0px 0px no-repeat;
}
.about-3-2 section:nth-child(1) {
  height: 330px;
  background: url(../img/About/Layer30.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-3-2 section:nth-child(2) {
  height: 310px;
  background-color: #a2ca28;
  position: relative;
}
.about-3-2 section:nth-child(2) h1:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 40px;
  right: 25px;
  top: 55px;
  background: url(../img/About/Shape9.png) 0px 0px no-repeat;
}
.banner {
  background: url(../img/Banner/Banner.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  padding-top: 13%;
  position: relative;
}
.banner h1 {
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 30px;
}
.banner p {
  max-width: 500px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
}
.banner-text {
  position: absolute;
}
.banner:after {
  content: "";
  display: block;
  padding-top: 38%;
}
footer {
  background-color: #0d1119;
  color: white;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 400px;
}
footer h1 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}
footer p {
  font-size: 14px;
  font-weight: 400;
  color: #8297a7;
  line-height: 24px;
}
footer .form-inline {
  margin-top: 18px;
}
footer .form-inline .form-group:nth-child(1) .form-control {
  width: 200px;
}
footer .form-inline .form-group:nth-child(2) .form-control {
  width: 335px;
}
footer input.form-control {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 49px;
  padding: 12px 25px;
  font-size: 14px;
  margin-right: 2px;
}
footer button.btn {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 35px;
  font-size: 14px;
}
footer button.btn i {
  font-size: 12px;
  padding-left: 3px;
}
footer .btn-default {
  background-color: #a2ca28;
  color: white;
}
footer .btn-default:hover,
footer .btn-default:active,
footer .btn-default:focus {
  background-color: #a2ca28;
}
footer .btn-default.active.focus,
footer .btn-default.active:focus,
footer .btn-default.active:hover,
footer .btn-default:active.focus,
footer .btn-default:active:focus,
footer .btn-default:active:hover {
  background-color: #fd634e;
  color: white;
}
footer input.form-control,
footer .btn-default {
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
footer input.form-control:focus,
footer .btn-default:focus,
footer input.form-control:active,
footer .btn-default:active {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-inline {
  padding: 2px;
}
.icon-social {
  color: white;
  font-size: 19px;
  margin-right: 1px;
  display: inline-block;
  padding: 11px 16px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.icon-social-facebook {
  background-color: #2e3192;
  padding-left: 19px;
}
.icon-social-twitter {
  background-color: #00aeef;
  padding-left: 17px;
}
.icon-social-youtube-play {
  background-color: #ed3123;
}
.icon-social-linkedin {
  background-color: #171a8f;
  padding-left: 17px;
}
